env
build
build(s|S)
external/conf/*.conf
src/DoxyDocs

.cproject
.project
.idea

**/CMakeFiles
*Makefile
*cmake_install.cmake
*CMakeCache.txt
**/Makefile
**/cmake_install.cmake
cmake-build-debug
NTRTConfig.cmake

*.pyc
src/.settings/org.eclipse.cdt.codan.core.prefs

*~
*#
*.DS_Store

*.pdfsync
*.bbl
*.blg
*eps-converted-to.pdf